.menu
{
  height: 100px;
  margin: 0;
  background: #004A7F;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.menu ol
{
  height: 100px;
  align-items: center;
  display: flex;
  box-sizing: border-box;
}

.menu a
{
  height: 100px;
  display: flex;
  align-items: center;

}

.li
{
  margin: 10px;
}

.menu-paragraphLogo
{
  margin: 0;
}

.hero
{
  height: 300px;
  font-family: 'press start 2p', agency FB;
  font-size: 40px;
  line-height: 1.5;
  font-weight: normal;

  background: #0180DA;
  color: #000000;

  background-image: url('../images/hero.png');
  background-size: 390px 300px;
  background-repeat: no-repeat;
  background-position-x: right;


}

.hero-font
{
  padding: 84px;
  box-sizing: border-box;
  margin: 0;
}

.hero strong
{
  color: #ffffff;
}

.menu a
{
  color: #ffffff;
  text-decoration: none;
}


body
{
  margin: 0;
  font-family: 'open sans' , agency FB;
  text-transform: capitalize
}

.start
{
  box-sizing: border-box;
  margin-top: 30px;
  border: 5px solid;
  border-radius: 10px;
}

.start-font
{
  display: flex;
  justify-content: space-around;
}

.start-div
{
  padding-left: 228px;
  width: 500px;
}

h5
{
  margin: 0;
}

ol, li
{
margin: 0;
padding: 0;
  list-style: none;
}

.menu-logo
{
  margin: 0
}
